<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Upload avatar</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
        <div class="col-sm-8 col-sm-offset-2" style="margin-top: 50px;">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Class survey -upload avatar</h3>
                    </div>
                    <div class="panel-body">
                        <form action="http://localhost:3000/api/upAvatar" method="POST" enctype="multipart/form-data">
                            <legend>Upload file</legend>
                            <div class="form-group">
                                <label for="">File</label>
                                <!-- <input type="file" class="form-control" name="files"> -->
                                <input type="text" name="token" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6Miwicm9sZSI6MywiZXhwaXJlc0luIjoxMDA4MjkxMSwiaWF0IjoxNTQzNjc1NTU3LCJleHAiOjE1NTM3NTg0Njh9.gEmTfn-OzbKg8baRYI-6w1mKuI4GD3u4F4E7EP2gaLo">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>